@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Roboto+Mono&display=swap');

:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --white: #f7f7f7;
    --lightgray: #bdbdbd;
    --darkgray: #636363;

    --none: black;
    --no: var(--white);
    --unknown: var(--darkgray);
    --yes: #2ca25f;

    --bluetooth: #1c57ff;
    --gps-bluetooth: purple;
    --gps: #F7301C;
    --centralized: #243E95;
    --decentralized: #2ca25f;

    --opentrace: #243E95;
    --whisper: #fa50e6;
    --safepaths: #666AF6;
    --dp3t: #d95f02;
    --pepppt: #F7301C;
    --applegoogle: #2ca25f;
    --tcn: #B2BAA4;
    --safe2: #eeeb5d;

    --no-government: var(--decentralized);
    --government: var(--centralized);

    --proposed: var(--tcn);
    --dev: lightblue;
    --released: var(--bluetooth);
    --cancelled: var(--gps);
}
body {
    background-color: #10104b;
}
hr {
    border-color: var(--lightgray);
}
h1, h2, h3, legend, label,
p.label, th .footer, .caption, .title,
th.sorting, th.sorting_asc, th.sorting_desc {
    font-family: 'Roboto Mono', monospace;
    color: var(--white);
    fill: var(--white);
}
a, p, text, td, li,
text.label,
#app-table div.dataTables_inf,
#app-table div.dataTables_paginate a {
    font-family: 'Manrope', sans-serif;
    color: var(--white);
    fill: var(--white);
}
p.description {
    font-size: 12px;
}
.description, .label {
    alignment-baseline: top;
    vertical-align: top;
    line-height: 1.5em;
}

path.country {
    stroke: var(--white);
    stroke-width: .5px;
    /*fill: var(--white);*/
    fill: none;
}
circle.marker {
    stroke-width: 1px;
    r: 5px;
    fill-opacity: .6;
    fill: black;
}
.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    alignment-baseline: middle;
    vertical-align: top;
    margin-right: 1em;
    margin-top: 5px;
}
td.color-dot {
    vertical-align: top;
}
div#color-legend {
    overflow: auto;
    height: 400px;
}

/* TOOLTIP */
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

/* APP TABLE */
div#app-table {
    overflow: auto;
}
#app-table tr{
    background-color: #10104b;
}
#app-table thead > tr > th.sorting_asc,
#app-table thead > tr > th.sorting_desc {
    background-color: #1f1fa7;
}
#app-table tbody > tr > td.sorting_1 {
    background-color: #1f1fa7;
}