appdirs==1.4.4
appnope==0.1.0
attrs==19.3.0
backcall==0.1.0
black==21.5b1
bleach==3.3.0
certifi==2020.12.5
chardet==4.0.0
chart-studio==1.1.0
click==8.0.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
idna==2.10
importlib-metadata==1.6.0
ipykernel==5.2.1
ipython==7.14.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.0
Jinja2==2.11.3
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.2.0
lowess==1.0.3
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.6
notebook==6.4.10
numpy==1.18.3
packaging==20.3
pandas==1.0.3
pandocfilters==1.4.2
parso==0.7.0
pathspec==0.8.1
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
plotly==4.14.1
prometheus-client==0.7.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0
Pygments==2.9.0
pyparsing==2.4.7
pyperclip==1.8.1
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.4.1
pyzmq==19.0.0
qtconsole==4.7.3
QtPy==1.9.0
regex==2021.4.4
requests==2.25.1
retrying==1.3.3
scipy==1.4.1
seaborn==0.10.1
Send2Trash==1.5.0
six==1.14.0
statsmodels==0.12.1
terminado==0.8.3
testpath==0.4.4
toml==0.10.2
tornado==6.0.4
-e git+https://github.com/benlevyx/covid-tracking.git@7ed7ba9bcf0eb86a56b52c23570d6bdf1611f8a6#egg=tracking&subdirectory=module
traitlets==4.3.3
urllib3==1.26.4
wcwidth==0.1.9
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==3.1.0
